@import 'tailwindcss';

body {
    /* LayerChart defines a set of CSS variables that can be customized to
       change the default appearance of charts.
       --color-primary: The primary color used for marks (e.g., lines, bars). */
    --color-primary: var(--color-gray-500);
    background-color: white;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-weight: bold;
}

.btn-primary {
    @apply rounded-md bg-blue-600 px-4 py-2 text-white transition hover:bg-blue-700;
}

.btn-primary-sm {
    @apply rounded-md bg-blue-600 px-3 py-1.5 text-sm text-white transition hover:bg-blue-700;
}

.btn-link {
    @apply text-blue-600 hover:underline;
}

.btn-cancel {
    @apply text-gray-600 hover:underline;
}
